.not-found2-container1 {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: row;
}
 
.not-found2-container2 {
  gap: var(--dl-layout-space-halfunit);
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  z-index: 100;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
 
.not-found2-text1 {
  color: var(--dl-color-theme-neutral-light);
  font-size: 100px;
  font-family: "Nunito";
}
 
.not-found2-text2 {
  color: var(--dl-color-theme-neutral-light);
  font-style: normal;
  font-family: "Nunito";
  font-weight: 400;
}
 
.not-found2-button {
  color: var(--dl-color-theme-neutral-dark);
  margin-top: var(--dl-layout-space-threeunits);
  text-decoration: none;
  background-color: var(--dl-color-theme-neutral-light);
}
 
.not-found2-container3 {
  top: -4px;
  flex: 0 0 auto;
  right: 0px;
  width: 100%;
  border: 2px dashed rgba(120, 120, 120, 0.4);
  height: 100%;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-direction: column;
  background-color: rgba(0,0,0,0.7);
}
 
.not-found2-fragment1 {
  display: contents;
}
 
.not-found2-text3 {
  display: inline-block;
}
 
.not-found2-fragment2 {
  display: contents;
}
 
.not-found2-text8 {
  display: inline-block;
}
 
@media(max-width: 767px) {
  .not-found2-container1 {
    align-items: center;
    justify-content: center;
  }
  .not-found2-container2 {
    width: 100%;
    align-items: center;
    padding-left: var(--dl-layout-space-threeunits);
    padding-right: var(--dl-layout-space-threeunits);
  }
}
 
@media(max-width: 479px) {
  .not-found2-container2 {
    padding-left: var(--dl-layout-space-oneandhalfunits);
    padding-right: var(--dl-layout-space-oneandhalfunits);
  }
}
